.login-container {
  width: 300px;
  margin: auto;
  margin-top: 150px;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 30px;
}

.uTeamLoginTitle {
  color: #707070;
  font-size: 22px;
  margin-bottom: 20px;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  color: #707070;
  cursor: pointer;
  padding-left: 5px;
}

input::placeholder {
  color: lightgrey;
  font-size: 12px;
}

.email-input-title-container,
.password-input-title-container {
  text-align: left;
  color: #707070;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

.email-input-title,
.password-input-title {
  font-size: 10px;
  margin-bottom: -5px;
}

.question-and-login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.question {
  font-size: 8px;
  color: #707070;
  cursor: pointer;
}

.login-button {
  color: white;
  border: none;
  border-radius: 13px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  background-color: #707070;
  padding: 8px 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .login-container {
    width: 90%;
    padding: 2%;
  }
}
